@model WordSaver.Presentation.Models.WordModel




<strong>Please write a word and click save button to save</strong>
<br /><br />

<form action="/" method="post">

    <input type="text" name="Name" value="@Model.Name" />
    <input type="submit" value="Save" />
</form>

<br />
<br />
